@page "{quizId}/{userId}"
@model Web.Pages.Summary
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<H3>@ViewData["Title"]</H3>
<p>Your score is @Model.CorrectAnswerCount</p>